<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myFirstsiteBlog</title>
</head>
<body>
    <div>
        <h1><a href="/">Soyo's Blog</a></h1>
    </div>
    <div>
        <p>published: 03.03.2022, 17:39</p>
        <h2><a href = "">My first post</a></h2>
        <p>こんにちは！　よろしくお願い致します！</p>
    </div>

    <div>
        <p>公開日: 2022/03/03, 17:43</p>
        <h2><a href="">Second Post</a></h2>
        <p>こんばんは:)</p>
    </div>
</body>
</html>